<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- ------ -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <nav class="nav nav-tabs " >
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admission" >Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
        </ul>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <h1 >HISTORY</h1>
                The PWS Arts, Science and Commerce College was inaugurated on 20th of June 1960 by Shri Y. B. Chavan, the first Chief Minister of Maharashtra to serve the ever-growing educational needs of students from North and Central Mumbai Suburbs, and was the gift of the South Indians in Mumbai to the then newly-born State of Maharashtra. The Commerce Stream at the Degree level was started in 1980-81. Affiliated to the University of Mumbai, the college has an impressive strength of over 4,000 students drawn from all sections of this cosmopolitan city.

                Excellent results at various University and Board examinations, and coveted awards and merit positons bagged by the students have placed the S.I.E.S. College among the most outstanding institutions in the city. The college has attained its position due to committment and dedication of Principals like Prof. A. B. Shah (1960-63), Prof. Ram Joshi (1963-77), who later became the Vice-Chancellor, University of Mumbai, Prof. P. S. Ramaswamy (1977-87), Prof. K. M. Apte (1987-89), Prof. S. Ramanathan (1989-1996), Prof. V. Padmanaban (1996-2003), Prof. R. Gopalkrishnan (in charge Principal 2003-2005), Dr. Harsha Mehta (2005-2016) and unstinted support from their competent and highly qualified colleagues who have given their very best to the students and to the institution.
                
                This illustrious line is continued with the appointment of Dr. Uma Shankar as the Principal of the college with effect from 1st September 2016. The students of the college, with their exemplary discipline, serious academic, extra and co-curricular pursuits and excellent rapport with their teachers, have greatly contributed to make this college a name to reckon with in academics and other fields.            </div>
          </div>
<h1><u>* PWS MANAGEMENT</u></h1>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/static/a1.jpg" alt="Card image cap">
      <div class="card-body fonts">
        <h5 class="card-title">DR.V.SHANKAR</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/a2.jpg" alt="Card image cap">
      <div class="card-body fontss">
        <h5 class="card-title">SHRI. J. SANTHANAM</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/a3.jpg" alt="Card image cap">
      <div class="card-body fontsss">
        <h5 class="card-title">SHRI. P. SETHURAMAN</h5>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/static/a4.jpg" alt="Card image cap">
      <div class="card-body fonts">
        <h5 class="card-title">SHRI. N. S. SUNDAR RAJAN</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/a5.jpg" alt="Card image cap">
      <div class="card-body fontss">
        <h5 class="card-title">SHRI. SRINATH SRIDHARAN</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/a6.jpg" alt="Card image cap">
      <div class="card-body fontsss">
        <h5 class="card-title">SHRI. S. V. VISWANATHAN</h5>
      </div>
    </div>
  </div>
</body>
</html>